<div class="games">
    <table class="panel" style="margin:0 0 15px 0; width:244px; background:#fff;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="line-height:21px; font-size:14px; padding:30px 30px;">
                <a href="http://www.miniclip.com/games/slime-pizza/de/" style="display:block; text-decoration:none;">
                    <!--<img src="https://static.miniclipcdn.com/content/game-icons/small/slimelab2.jpg" width="70" height="59" align="left" style="margin-right:15px; border:0;" alt="Spiele bei Miniclip.com - Slime Pizza" />-->
                    <a href="http://www.miniclip.com/games/slime-pizza/de/" style="font-weight:bold; border:none; text-decoration:underline;">Slime Pizza</a>
                    <p style="margin:0; clear:none; text-decoration:none;">Collect all the pizza you can, but beware the watchful eye of the patrol officer! </p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; padding:15px 30px; border-top:1px solid #ccc;">
                <a href="http://www.miniclip.com/games/slime-pizza/de/">Play this free game now!</a>
            </td>
        </tr>
    </table>
    <table class="panel" style="margin:0 0 15px 0; width:244px; background:#fff;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="line-height:21px; font-size:14px; padding:30px 30px;">
                <a href="http://www.miniclip.com/games/nobrakesio/de/" style="display:block; text-decoration:none;">
                    <!--<img src="https://static.miniclipcdn.com/content/game-icons/small/NBIO_Icon_70x59.jpg" width="70" height="59" align="left" style="margin-right:15px; border:0;" alt="Spiele bei Miniclip.com - NoBrakes.io" />-->
                    <a href="http://www.miniclip.com/games/nobrakesio/de/" style="font-weight:bold; border:none; text-decoration:underline;">NoBrakes.io</a>
                    <p style="margin:0; clear:none; text-decoration:none;">Customize your ride and race real players in this colorful and happy multiplayer game.</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; padding:15px 30px; border-top:1px solid #ccc;">
                <a href="http://www.miniclip.com/games/nobrakesio/de/">Play this free game now!</a>
            </td>
        </tr>
    </table>
    <table class="panel" style="margin:0 0 15px 0; width:244px; background:#fff;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="line-height:21px; font-size:14px; padding:30px 30px;">
                <a href="http://www.miniclip.com/games/snowfight-io/de/" style="display:block; text-decoration:none;">
                    <!--<img src="https://static.miniclipcdn.com/content/game-icons/small/Snowfight.io_70x59_20180717.jpg" width="70" height="59" align="left" style="margin-right:15px; border:0;" alt="Spiele bei Miniclip.com - Snowfight.io" />-->
                    <a href="http://www.miniclip.com/games/snowfight-io/de/" style="font-weight:bold; border:none; text-decoration:underline;">Snowfight.io</a>
                    <p style="margin:0; clear:none; text-decoration:none;">Take on players from around the world in a multiplayer snowball fight!</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; padding:15px 30px; border-top:1px solid #ccc;">
                <a href="http://www.miniclip.com/games/snowfight-io/de/">Play this free game now!</a>
            </td>
        </tr>
    </table>
    <table class="panel" style="margin:0 0 15px 0; width:244px; background:#fff;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="line-height:21px; font-size:14px; padding:30px 30px;">
                <a href="http://www.miniclip.com/games/splixio/de/" style="display:block; text-decoration:none;">
                    <!--<img src="https://static.miniclipcdn.com/content/game-icons/small/splix-io_70x59_20180716.jpg" width="70" height="59" align="left" style="margin-right:15px; border:0;" alt="Spiele bei Miniclip.com - Splix.io" />-->
                    <a href="http://www.miniclip.com/games/splixio/de/" style="font-weight:bold; border:none; text-decoration:underline;">Splix.io</a>
                    <p style="margin:0; clear:none; text-decoration:none;">In Splix.io you conquer as much land as possible and become biggest Splix.io of all!</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; padding:15px 30px; border-top:1px solid #ccc;">
                <a href="http://www.miniclip.com/games/splixio/de/">Play this free game now!</a>
            </td>
        </tr>
    </table>
    <table class="panel" style="margin:0 0 15px 0; width:244px; background:#fff;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="line-height:21px; font-size:14px; padding:30px 30px;">
                <a href="http://www.miniclip.com/games/agar-io/de/" style="display:block; text-decoration:none;">
                    <!--<img src="https://static.miniclipcdn.com/content/game-icons/small/Agar.io_70x59_20150709.jpg" width="70" height="59" align="left" style="margin-right:15px; border:0;" alt="Spiele bei Miniclip.com - Agar.io" />-->
                    <a href="http://www.miniclip.com/games/agar-io/de/" style="font-weight:bold; border:none; text-decoration:underline;">Agar.io</a>
                    <p style="margin:0; clear:none; text-decoration:none;">Die Sensation! Iss kleinere Zellen und lass dich nicht von den größeren fressen!</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; padding:15px 30px; border-top:1px solid #ccc;">
                <a href="http://www.miniclip.com/games/agar-io/de/">Play this free game now!</a>
            </td>
        </tr>
    </table>
    <table class="panel" style="margin:0 0 15px 0; width:244px; background:#fff;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="line-height:21px; font-size:14px; padding:30px 30px;">
                <a href="http://www.miniclip.com/games/cut-the-rope-time-travel/de/" style="display:block; text-decoration:none;">
                    <!--<img src="https://static.miniclipcdn.com/content/game-icons/small/ctr_tt_70x59.jpg" width="70" height="59" align="left" style="margin-right:15px; border:0;" alt="Spiele bei Miniclip.com - Cut the Rope Time Travel" />-->
                    <a href="http://www.miniclip.com/games/cut-the-rope-time-travel/de/" style="font-weight:bold; border:none; text-decoration:underline;">Cut the Rope Time Travel</a>
                    <p style="margin:0; clear:none; text-decoration:none;">Füttere Om Nom mit Süßigkeiten außerhalb seiner Reichweite!</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; padding:15px 30px; border-top:1px solid #ccc;">
                <a href="http://www.miniclip.com/games/cut-the-rope-time-travel/de/">Play this free game now!</a>
            </td>
        </tr>
    </table>
    <table class="panel" style="margin:0 0 15px 0; width:244px; background:#fff;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="line-height:21px; font-size:14px; padding:30px 30px;">
                <a href="http://www.miniclip.com/games/berry-rush/de/" style="display:block; text-decoration:none;">
                    <!--<img src="https://static.miniclipcdn.com/content/game-icons/small/berryrushv2.png" width="70" height="59" align="left" style="margin-right:15px; border:0;" alt="Spiele bei Miniclip.com - Berry Rush" />-->
                    <a href="http://www.miniclip.com/games/berry-rush/de/" style="font-weight:bold;  border:none; text-decoration:underline;">Berry Rush</a>
                    <p style="margin:0; clear:none; text-decoration:none;">Emily Erdbeer und ihre Freunde brauchen Hilfe, Früchte zu sammeln!</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; padding:15px 30px; border-top:1px solid #ccc;">
                <a href="http://www.miniclip.com/games/berry-rush/de/">Play this free game now!</a>
            </td>
        </tr>
    </table>
    <table class="panel" style="margin:0 0 15px 0; width:244px; background:#fff;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="line-height:21px; font-size:14px; padding:30px 30px;">
                <a href="http://www.miniclip.com/games/foot-chinko/de/" style="display:block; text-decoration:none;">
                    <!--<img src="https://static.miniclipcdn.com/content/game-icons/small/footchinko_70x59.jpg" width="70" height="59" align="left" style="margin-right:15px; border:0;" alt="Spiele bei Miniclip.com - Foot Chinko" />-->
                    <a href="http://www.miniclip.com/games/foot-chinko/de/" style="font-weight:bold; border:none; text-decoration:underline;">Foot Chinko</a>
                    <p style="margin:0; clear:none; text-decoration:none;">Fordere deine Rivalen in bekannten Fußballturnieren heraus.</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; padding:15px 30px; border-top:1px solid #ccc;">
                <a href="http://www.miniclip.com/games/foot-chinko/de/">Play this free game now!</a>
            </td>
        </tr>
    </table>
</div>
